  <table>
    <tbody id="rows">
      {{#each rows}}
      <tr>
        <td><a href="{{this.link}}">{{this.text}}</a></td><td><input type='button' class='remove' label='X' value='{{this.id}}'/></td><td><input class='update' type='button' label='O' value='{{this.id}}'/></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  <input type='button' label='add' id='add'/>
