<!-- No HTTPS, this is my playground scratchpad :) -->
<div id='inputdiv' class='loginbox'>
<form method='post' action='/login' >
<label>User:<input type='text' name='iuser'/></label><br/>
<label>Password:<input type='password' name='ipass'/></label>
<input type='submit' class='bsave' value='save' id='bsave'/>
</form>
</div>
